<%- include('includes/head.ejs') %>
  </head>
  <body>
    <%- include('includes/navigation.ejs') %>
    <form action="/admin/add-user" method="post">
      <input type="text" name="username"/>
      <button type="submit">Add User</button>
    </form>
<%- include('includes/end.ejs') %>
